@font-face {
	font-family: 'me-font';
	src:url('me-font.eot');
	src:url('me-font.eot?#iefix') format('embedded-opentype'),
		url('me-font.woff') format('woff'),
		url('me-font.ttf') format('truetype'),
		url('me-font.svg#me-font') format('svg');
	font-weight: normal;
	font-style: normal;
}

.me-logo-solid, .me-logo-hollow {
    display: inline-block;
	font-family: 'me-font';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.me-logo-solid:before { content: "\e000"; }
.me-logo-hollow:before { content: "\e001"; }

