.nav-tabs {
    margin-bottom: 10px;
}

.img-thumbnail.pull-right {
    margin-left: 10px;
}

#me-logo {
    color: #B0B0B0;
    font-size: 36px;
    margin-top: -6px;
    margin-right: 8px;
}

.tip {
    cursor: help;
    border-bottom: solid 1px #DDD;
}

canvas { 
    display: block;
    margin: 0 auto;
}
