<!DOCTYPE html>
<html lang="en">
<head>
    <title>Languages on GitHub</title>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for("static", filename="styles.css") }}">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="{{ url_for("static", filename="Chart.min.js") }}"></script>
</head>
<body>
    <div class="container">
        {% block content %}{% endblock %}

        <footer>
            <hr>
            <p>
                By <a href="http://markembling.info/">Mark Embling</a>.<br>
                Code on <a href="#">GitHub</a>.
            </p>
            <p><strong>Note:</strong> this little project is not affiliated with or endorsed 
            by GitHub in any way. It just uses their API.</p>
        </footer>
    </div>
</body>
</html>
